= form_for @outfit do |f|
  - if @outfit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@outfit.errors.count, "error")} prohibited this outfit from being saved:"
      %ul
        - @outfit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :gloves
    = f.text_field :gloves_id
  .field
    = f.label :coat
    = f.text_field :coat_id
  .field
    = f.label :boots
    = f.text_field :boots_id
  .field
    = f.label :helm
    = f.text_field :helm_id
  .field
    = f.label :legs
    = f.text_field :legs_id
  .field
    = f.label :shoulders
    = f.text_field :shoulders_id
  .actions
    = f.submit 'Save'
