%p#notice= notice

%p
  %b Helm:
  = link_to @outfit.helm.name, armor_path(@outfit.helm)
%p
  %b Shoulders:
  = link_to @outfit.shoulders.name, armor_path(@outfit.shoulders)
%p
  %b Coat:
  = link_to @outfit.coat.name, armor_path(@outfit.coat)
%p
  %b Gloves:
  = link_to @outfit.gloves.name, armor_path(@outfit.gloves)
%p
  %b Legs:
  = link_to @outfit.legs.name, armor_path(@outfit.legs)
%p
  %b Boots:
  = link_to @outfit.boots.name, armor_path(@outfit.boots)

= link_to 'Back', outfits_path